body {
    /* background: rgb(19,5,35);
    background: linear-gradient(69deg, rgba(19,5,35,1) 26%, rgba(49,2,104,1) 100%); */
    background: rgb(34,10,62);
    background: linear-gradient(69deg, rgba(34,10,62,1) 50%, rgba(122,1,117,1) 100%); 
}
.CodeMirror {
    height: 53vh !important;
    font-size:1.5em !important
}
.illuminate {
    background:  #2a2a2e;
    color: "#f547e1";
    font-size:1em;
    font-weight:'bold';
    height: 8vh;
    width:18vw;
    margin:8;
    border: 2px solid #00bef7;
    /* box-shadow: 0px 0px 20px 2px rgb(241,26,255); */
    box-shadow: 0px 0px 20px 2px #00bef7;
    transition: box-shadow .5s;
    

}
.illuminate:hover {
    /* box-shadow: 0px 0px 20px 10px  rgb(241,26,255);  */
    box-shadow: 0px 0px 20px 10px #00bef7
}